/*
  Tan: #c59c67
  Light Tan: #dac09e
  Compliment Blue: #6790C5
*/

$primary-color:#c59c67;
$secondary-color: #dac09e;

body{
  margin:0;
}

.App {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header-container"
    "main"
    "footer";

  
  background-color: #ffffff;
  /*
  background: linear-gradient(225deg, white, #c59c67);
  */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  margin:0;
  transition: 1s all;
  
  a{
    color: $primary-color;
    border-color: $primary-color;
    border-bottom: 2px solid;
    transition: all .5s;
    text-decoration: none;
  }
  a:hover{
    color: $secondary-color; 
    border-color: transparent;
  }
  a:focus{
    color: $secondary-color; 
    border-color: transparent;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
  }
  h1{
    font-size:1.75em;
  }
  h2{
    font-size:1.5em;
  }
  h3{
    font-size:1.25em;
  }
  h4{
    font-size:1em;
  }
  h5{
    font-size:.9em;
  }
  h6{
    font-size:.8em;
  }
  li,p{
    font-size:.9em;
    font-weight:500;
    line-height: 1.3em;
  }
  li{
    margin:10px 0;
  }

  .hide{
    display:none;
  }

  .header-container{
    width:100%;
    grid-area:header-container;
    background-color:rgba(15, 15, 15, 0.9);
    transition: all .5s;

    .header{
      display: grid;
      grid-template-columns: 5% auto 15% 5%;
      grid-template-rows: auto;
      grid-template-areas: 
        ". header-name header-nav ."
        ". mobile-header-nav mobile-header-nav .";
      margin:20px 0;
      
        a{
          color: $primary-color;
          border-bottom: 2px solid;
          border-color: transparent;
          transition: all .5s;
          text-decoration: none;
        }
        a:hover{
            color: $secondary-color;
            border-color: $secondary-color;
        }
        a:focus{
          color: $secondary-color;
          border-color: $secondary-color;
      }
      
      .header-name{
        grid-area:header-name;
      }

      .header-nav{
        grid-area:header-nav;
        display:flex;
        justify-self: center;

        ul{
          display:none;
        }

        .hamburger{
          display: flex;
          // display:none;
          font-size: 2em;
          flex-flow: column nowrap;
          justify-content: center;
          border:none;
        }
        .hamburger:hover{
          border: none;
          cursor:pointer;
        }
      }
      .mobile-nav-container{
        grid-area:mobile-header-nav;
        height:0;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        transition: .5s all;
        overflow: hidden;

        ul{
          list-style:none;
          padding:0;
          margin:20px 0 0;

          li{
            display:inline-block;
            margin:0;

            span{
              color:$primary-color;
            }
          }
        }
      }  
    }  
  }

  .main{
    grid-area:main;
    display:grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto;
    grid-template-areas: 
      ". experiences-container ."
      ". education-container ."
      ". misc-container .";

    .experiences-container{
      grid-area:experiences-container;
      display:grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: 
        "experiences-title"
        "experiences";

      margin:30px 0 0;

      .experiences-title{
        grid-area: experiences-title;
      }

      .experiences{
        grid-area:experiences;

        .experience:first-child{
          margin:10px 0 0 10px;
        }

        .experience{
          margin:40px 0 0 10px;

          h4{
            margin:5px 0 0 0;
          }
          h5{
            margin:10px 0 0 0;
          }

          p{
            margin:10px 0;
          }

          ul{
            padding:0 0 0 15px;
          }

          .techs-container{
            grid-template-columns: auto;
            grid-template-rows: 10% auto;
            grid-template-areas: 
              "techs-title" 
              "tech";

            .techs{
              display:grid;
              grid-area: techs;
              grid-template-columns: 50% 50%;
              grid-template-rows: auto;
              grid-template-areas: 
                "techs-one techs-two";

              ul{
                margin:0;
                padding:0 0 0 15px;
                list-style: none;
              }
              .techs-one{
                grid-area:techs-one;
              }

              .techs-two{
                grid-area:techs-two;
              }
            }
          }
        }
      }
    }

    .education-container{
      display:grid;
      grid-area:education-container;
      grid-template-columns:auto;
      grid-template-rows: auto;
      grid-template-areas: 
        "education-title"
        "education";

      margin:30px 0 0;

      .education-title{
        grid-area: education-title;
      }

      .education{
        grid-area:education;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        margin:10px 0 0 10px;
      }
    }

    .misc-container{
      grid-area:misc-container;
      display:grid;
      grid-template-columns:auto;
      grid-template-rows: auto;
      grid-template-areas: 
        "misc-title"
        "misc";

      margin: 30px 0 0;

      .misc-title{
        grid-area: misc-title;
      }

      .misc{
        grid-area:misc;

        ul{
          padding:0 0 0 15px;
          margin:0 0 0 10px;
          
          li{
            margin:10px 0;
          }
        }
      }
    }
  }
  .footer{
    grid-area: footer;
    display:grid;
    grid-template-columns: auto 60% auto;
    grid-template-rows: auto;
    grid-template-areas: 
      ". footer-icons .";

    margin:20px 0 0;
    padding:20px 0;
    background-color:rgba(15, 15, 15, 0.9);


    a{
      color: $primary-color;
      border-bottom: 2px solid;
      border-color: transparent;
      transition: all .5s;
      text-decoration: none;
    }
    a:hover{
        color:$secondary-color;
        border-color: $secondary-color;
    }
    a:focus{
      color:$secondary-color;
      border-color: $secondary-color;
    }
    .footer-icons{
      grid-area:footer-icons;

      display:flex;
      flex-flow:row nowrap;
      justify-content: space-between;
    }
    h4{
      display:flex;
      margin:5px auto;
      color:$primary-color;
    }

  }
}

.App.index{
  .main{
    grid-area:main;
    display:grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;
    grid-template-areas: 
      ". img-container ."
      ". about-container .";


    .img-container{
      grid-area:img-container;
      display:flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin:20px 0 0;
      
      img{
        width:initial;
        max-height:350px;
        box-shadow:-10px 10px 10px rgba(0,0,0,0.5);
      }
    }

    .about-container{
      grid-area:about-container;
      color:#000000;
      margin:25px 0 0;
    }
  }
}

/* Draw Start */
.dark{
  background: rgba(15, 15, 15, 1);

  .App{
    background: rgba(15, 15, 15, 1);

    .seniorProject{
      display:flex;
      flex-flow:column nowrap;
      justify-content:center;

      .titleContainer{
        display:flex;
        flex-flow:row nowrap;
        justify-content:center;
        margin: 20px  0 0;

        .title{
          color:$primary-color;
          display:flex;
          flex-flow:row nowrap;
          justify-content:center;
        }
      }

      .canvasContainer{
        display:flex;
        flex-flow:row nowrap;
        justify-content:center;
        margin:20px 0 0;
      }
      .canvas {
        width: 90%;
        max-width:920px;
        min-height: 220px;
      }
    }
  }
}
.drawCanvas{
  border:1px solid black;
  display: block;
  margin: auto;
}
.drawDiv{
  display:block;
}
.drawTitle{
  margin:0 0 2%;
  padding:2% 0;
}
.drawMenuContainer{
  display: block;
  margin:0 auto;
  width:600px;
}
/* Draw End */
@media screen and (min-width: 375px){
  .App.index{
    .main{
      grid-template-columns: 15% auto 15%;

      .img-container{
        img{
          max-height: 625px;
          max-width: 500px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .App{
    h1{
      font-size:2.5em;
    }
    h2{
      font-size:2em;
    }
    h3{
      font-size:1.5em;
    }
    h4{
      font-size:1.25em;
    }
    h5{
      font-size:1em;
    }
    h6{
      font-size:.75em;
    }
    li,p{
      font-size:1em;
      line-height: 1.3em;
    }
    
    .header-container{
      max-height: 100px;

      .header{
        grid-template-columns: 10% auto auto 10%;

        .header-nav{
          grid-area:header-nav;
          display:flex;
          justify-self: end;
    
          ul{
            list-style: none;
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-around;
            padding:0;
            margin:0;
    
            li{
              padding:0 5px;
              font-size:1.5em;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
    
              span{
                color:$primary-color;
              }
            }
          }
          
          .hamburger{
            display:none;
          }
        }
        
        .mobile-nav-container{
          height:0;
          display:none;
        }
      }
    }

    .main{
      grid-template-columns:10% auto 10%;

      .objective-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: "objective-title . objective";

        .objective{
          margin:0;
        }
      }

      .experiences-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "experiences-title . experiences";

        .experiences{
          .experience:first-child{
            margin:0;
          }

          .experience{
            margin:40px 0 0;

            .techs-container{
              display:grid;
              grid-template-columns: auto;
              grid-template-rows: auto auto;
              grid-template-areas: 
                "techs-title"
                "techs";

                .techs{
                  grid-template-columns: auto;
                  grid-template-rows: auto;
                  grid-template-areas: 
                    "techs-one techs-two";
                }
            }
          }
        }
      }

      .education-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "education-title . education";

        .education{
          margin:0;
        } 
      }

      .misc-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "misc-title . misc";

        .misc{
          margin:0;

          ul{
            padding:0 0 0 15px;
            margin:0;
          }
        }
      }
    }
    .footer{
      grid-template-columns: auto 40% auto;
      margin:20px 0 0;
    }  
  }

  .App.index{
    .main{
      grid-template-columns: auto 500px auto;

      .about-container{
        margin:40px 0 0;
      }
    }
  }
}

@media screen and (min-width:996px){
  .App{
    li,p{
      text-align: justify;
    }

    .canvas {
      min-height: 280px;
      width: 75%;
    }

    .hamburger{
      display:none;
    }

    .main{
      grid-template-columns:15% auto 15%;

      .objective-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: "objective-title . objective";

        .objective{
          margin:0;
        }
      }

      .experiences-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "experiences-title . experiences";

        .experiences{
          .experience:first-child{
            margin:0;
          }

          .experience{
            margin:40px 0 0;

            .techs-container{
              display:grid;
              grid-template-columns: 175px 25px auto;
              grid-template-rows: auto;
              grid-template-areas: 
                "techs-title . techs";

              .techs{
                grid-template-columns: 5% 200px 200px;
                grid-template-rows: auto;
                grid-template-areas: 
                  ". techs-one techs-two";
              }
            }
          }
        }
      }

      .education-container{
        grid-template-columns: 175px 75px auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "education-title . education";
      }

      .misc-container{
        grid-template-columns: 175px 75px auto;
      }
    }

    .footer{
      grid-template-columns: auto 20% auto;
    }  
  }

  .App.index{
    .main{
      grid-template-columns: auto 500px 5% 40% auto;
      grid-template-rows: auto;
      grid-template-areas: 
        ". img-container . about-container .";

      .about-container{
        display:flex;
        flex-flow:column nowrap;
        justify-content: center;
      }
    }
  }
}