<div id="about" class="row about">
  <div class="inner-width">
    <div id="name" class="name col-xs-12">
	    <h1 class="text-center col-xs-12">Fleck Construction</h1>
    </div>
    <div id="about-title" class="about-title text-center">
        <h2>About Us</h2>
    </div>
    <div id="about-logo" class="col-xs-12 col-md-6">
    </div>
    <div id="about-description" class="about-description col-xs-12 col-md-6">
        <p>Fleck Construction has served the Lehigh Valley and surrounding areas <span class="since-year"><strong>since 1988</strong>.</span>Our team of experts are dedicated to providing quality work at a competative price to ensure you get the most out of your home investment. We cater to a variety of home improvement needs, and are willing to undertake new challenges to ensure your experience with us is a positive one. At Fleck Construction we understand the ever changing landscape of the general contracting industry, and we assure that we will always provide the most modern and astheticaly pleasing solution.</p>
    </div>
  </div>
</div>
