<head>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"></link>
  <link type="text/css" rel="stylesheet" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
</head>
