<!DOCTYPE html>
<html>
  <% include head %>
  <body class="home blog">
    <% include navbar %>
    <% include about %>
    <% include markets %>
    <% include consultation %>
    <% include footer %>
  </body>
</html>
