<!DOCTYPE html>
<html>
  <% include head %>
  <body class="home blog" itemscope itemtype="http://schema.org/Person">
    <% include navbar %>
    <% include about %>
    <% include footer %>
  </body>
</html>
