<div id="markets" class="row markets">
  <div class="inner-width">
    <div id="markets-title" class="markets-title text-center">
        <h2>Markets</h2>
    </div>
    <div class="row markets-slider-row">
      <div class="col-xs-12 col-md-6">
        <% include slider-two %>
      </div>
      <div class="col-xs-12 col-md-6">
        <% include slider-two %>
      </div>
    </div>
  </div>
</div>
