<div class="container-fluid">
  <!-- Header Start -->
  <div id="header" class="row header">
    <div class="inner-width">
      <div class="logo-header pull-left">
        <a href="#"><img class="logo" alt="Logo Here" src="" /></a>
      </div>
      <a href="javascript:void(0);" class="hamburger"><i class="fa fa-bars"></i></a>
      <div class="primary-nav pull-right">
        <div class="phone-header-wrapper pull-right">
        </div>
        <ul>
          <li>
            <a id="about-nav" href="#about">About</a>
          </li>
          <li>
            <span>|</span>
          </li>
          <li>
            <a id="projects-nav" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
