/*
  Tan: #c59c67
  Light Tan: #dac09e
  Compliment Blue: #6790C5
*/
body {
  margin: 0; }

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header-container" "main" "footer";
  background-color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  margin: 0;
  transition: 1s all; }
  .App a {
    color: #c59c67;
    border-color: #c59c67;
    border-bottom: 3px solid;
    transition: all .5s;
    text-decoration: none; }
  .App a:hover {
    color: #dac09e;
    border-color: transparent; }
  .App a:focus {
    color: #dac09e;
    border-color: transparent; }
  .App h1, .App h2, .App h3, .App h4, .App h5, .App h6, .App p {
    margin: 0; }
  .App h1 {
    font-size: 1.75em; }
  .App h2 {
    font-size: 1.5em; }
  .App h3 {
    font-size: 1.25em; }
  .App h4 {
    font-size: 1em; }
  .App h5 {
    font-size: .9em; }
  .App h6 {
    font-size: .8em; }
  .App li, .App p {
    font-size: .9em;
    font-weight: 468px;
    line-height: 1.3em; }
  .App li {
    margin: 10px 0; }
  .App .hide {
    display: none; }
  .App .header-container {
    width: 100%;
    grid-area: header-container;
    background-color: rgba(15, 15, 15, 0.9);
    transition: all .5s; }
    .App .header-container .header {
      display: grid;
      grid-template-columns: 5% auto 15% 5%;
      grid-template-rows: auto;
      grid-template-areas: ". header-name header-nav ." ". mobile-header-nav mobile-header-nav .";
      margin: 20px 0; }
      .App .header-container .header a {
        color: #c59c67;
        border-bottom: 3px solid;
        border-color: transparent;
        transition: all .5s;
        text-decoration: none; }
      .App .header-container .header a:hover {
        color: #dac09e;
        border-color: #dac09e; }
      .App .header-container .header a:focus {
        color: #dac09e;
        border-color: #dac09e; }
      .App .header-container .header .header-name {
        grid-area: header-name; }
      .App .header-container .header .header-nav {
        grid-area: header-nav;
        display: flex;
        justify-self: center; }
        .App .header-container .header .header-nav ul {
          display: none; }
        .App .header-container .header .header-nav .hamburger {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          font-size: 2em;
          border: none; }
        .App .header-container .header .header-nav .hamburger:hover {
          border: none;
          cursor: pointer; }
      .App .header-container .header .mobile-nav-container {
        grid-area: mobile-header-nav;
        height: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        transition: .5s all;
        overflow: hidden; }
        .App .header-container .header .mobile-nav-container ul {
          list-style: none;
          padding: 0;
          margin: 20px 0 0; }
          .App .header-container .header .mobile-nav-container ul li {
            display: inline-block;
            margin: 0; }
            .App .header-container .header .mobile-nav-container ul li span {
              color: #c59c67; }
  .App .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto;
    grid-template-areas: ". experiences-container ." ". education-container ." ". misc-container .";
    margin: 20px 0;
    min-height: 380px; }
    .App .main .experiences-container {
      grid-area: experiences-container;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "experiences-title" "experiences"; }
      .App .main .experiences-container .experiences-title {
        grid-area: experiences-title; }
      .App .main .experiences-container .experiences {
        grid-area: experiences; }
        .App .main .experiences-container .experiences .experience:first-child {
          margin: 10px 0 0 10px; }
        .App .main .experiences-container .experiences .experience {
          margin: 40px 0 0 10px; }
          .App .main .experiences-container .experiences .experience h4 {
            margin: 5px 0 0 0; }
          .App .main .experiences-container .experiences .experience h5 {
            margin: 10px 0 0 0; }
          .App .main .experiences-container .experiences .experience p {
            margin: 10px 0; }
          .App .main .experiences-container .experiences .experience ul {
            padding: 0 0 0 15px; }
          .App .main .experiences-container .experiences .experience .techs-container {
            grid-template-columns: auto;
            grid-template-rows: 10% auto;
            grid-template-areas: "techs-title"  "tech"; }
            .App .main .experiences-container .experiences .experience .techs-container .techs {
              display: grid;
              grid-area: techs;
              grid-template-columns: 50% 50%;
              grid-template-rows: auto;
              grid-template-areas: "techs-one techs-two"; }
              .App .main .experiences-container .experiences .experience .techs-container .techs ul {
                margin: 0;
                padding: 0 0 0 15px;
                list-style: none; }
              .App .main .experiences-container .experiences .experience .techs-container .techs .techs-one {
                grid-area: techs-one; }
              .App .main .experiences-container .experiences .experience .techs-container .techs .techs-two {
                grid-area: techs-two; }
    .App .main .education-container {
      display: grid;
      grid-area: education-container;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "education-title" "education";
      margin: 30px 0 0; }
      .App .main .education-container .education-title {
        grid-area: education-title; }
      .App .main .education-container .education {
        grid-area: education;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 10px 0 0 10px; }
    .App .main .misc-container {
      grid-area: misc-container;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "misc-title" "misc";
      margin: 30px 0 0; }
      .App .main .misc-container .misc-title {
        grid-area: misc-title; }
      .App .main .misc-container .misc {
        grid-area: misc; }
        .App .main .misc-container .misc ul {
          padding: 0 0 0 15px;
          margin: 0 0 0 10px; }
          .App .main .misc-container .misc ul li {
            margin: 10px 0; }
  .App .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-rows: auto;
    grid-template-areas: ". footer-icons .";
    padding: 20px 0;
    background-color: rgba(15, 15, 15, 0.9); }
    .App .footer a {
      color: #c59c67;
      border-bottom: 3px solid;
      border-color: transparent;
      transition: all .5s;
      text-decoration: none; }
    .App .footer a:hover {
      color: #dac09e;
      border-color: #dac09e; }
    .App .footer a:focus {
      color: #dac09e;
      border-color: #dac09e; }
    .App .footer .footer-icons {
      grid-area: footer-icons;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .App .footer h4 {
      display: flex;
      margin: 5px auto;
      color: #c59c67; }

.App.index .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  grid-template-areas: ". img-container ." ". about-container .";
  margin: 20px 0; }
  .App.index .main .img-container {
    grid-area: img-container;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .App.index .main .img-container img {
      width: initial;
      max-height: 350px;
      box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5); }
  .App.index .main .about-container {
    grid-area: about-container;
    color: #000000;
    margin: 25px 0 0; }
    .App.index .main .about-container p {
      margin: 10px 0 0; }

.App.projects .header-container {
  height: 74px; }

.App.projects .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  grid-template-areas: ". projects-container .";
  margin: 20px 0; }
  .App.projects .main .projects-container {
    grid-area: projects-container; }
    .App.projects .main .projects-container .project:first-child {
      margin: 0; }
    .App.projects .main .projects-container .project {
      margin: 10px 0 0; }

.App.crypget .header-container {
  height: 74px; }

/* Draw Start */
.dark {
  background: #0f0f0f; }
  .dark .App {
    background: #0f0f0f; }
    .dark .App .seniorProject {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
      .dark .App .seniorProject .titleContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 20px  0 0; }
        .dark .App .seniorProject .titleContainer .title {
          color: #c59c67;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center; }
      .dark .App .seniorProject .canvasContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 20px 0 0; }
      .dark .App .seniorProject .canvas {
        width: 90%;
        max-width: 920px;
        min-height: 220px; }

.drawCanvas {
  border: 1px solid black;
  display: block;
  margin: auto; }

.drawDiv {
  display: block; }

.drawTitle {
  margin: 0 0 2%;
  padding: 2% 0; }

.drawMenuContainer {
  display: block;
  margin: 0 auto;
  width: 600px; }

/* Draw End */
@media screen and (min-width: 375px) {
  .App {
    min-height: 480px; }
  .App.index .main {
    grid-template-columns: 15% auto 15%; }
    .App.index .main .img-container img {
      max-height: 624px;
      max-width: 468px;
      width: 100%;
      height: 100%; }
  .App.projects .main {
    min-height: 480px; } }

@media screen and (min-width: 768px) {
  .App h1 {
    font-size: 2.5em; }
  .App h2 {
    font-size: 2em; }
  .App h3 {
    font-size: 1.5em; }
  .App h4 {
    font-size: 1.25em; }
  .App h5 {
    font-size: 1em; }
  .App h6 {
    font-size: .75em; }
  .App li, .App p {
    font-size: 1em;
    line-height: 1.3em; }
  .App .header-container {
    max-height: 91px;
    transition: .5s all; }
    .App .header-container .header {
      grid-template-columns: 10% auto auto 10%; }
      .App .header-container .header .header-nav {
        grid-area: header-nav;
        display: flex;
        justify-self: end; }
        .App .header-container .header .header-nav ul {
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          padding: 0;
          margin: 0; }
          .App .header-container .header .header-nav ul li {
            padding: 0 5px;
            font-size: 1.5em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center; }
            .App .header-container .header .header-nav ul li span {
              color: #c59c67; }
        .App .header-container .header .header-nav .hamburger {
          display: none; }
      .App .header-container .header .mobile-nav-container {
        height: 0;
        display: none; }
  .App .main {
    grid-template-columns: 10% auto 10%;
    min-height: 722px; }
    .App .main .objective-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "objective-title . objective"; }
      .App .main .objective-container .objective {
        margin: 0; }
    .App .main .experiences-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "experiences-title . experiences"; }
      .App .main .experiences-container .experiences .experience:first-child {
        margin: 0; }
      .App .main .experiences-container .experiences .experience {
        margin: 40px 0 0; }
        .App .main .experiences-container .experiences .experience .techs-container {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          grid-template-areas: "techs-title" "techs"; }
          .App .main .experiences-container .experiences .experience .techs-container .techs {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "techs-one techs-two"; }
    .App .main .education-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "education-title . education"; }
      .App .main .education-container .education {
        margin: 0; }
    .App .main .misc-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "misc-title . misc"; }
      .App .main .misc-container .misc {
        margin: 0; }
        .App .main .misc-container .misc ul {
          padding: 0 0 0 15px;
          margin: 0; }
  .App .footer {
    grid-template-columns: auto 40% auto; }
  .App.index .main {
    grid-template-columns: auto 468px auto;
    min-height: 722px; }
    .App.index .main .about-container {
      margin: 40px 0 0; }
  .App.projects .header-container {
    height: auto; }
  .App.projects .main {
    min-height: 722px; }
  .App.crypget .header-container {
    height: auto; }
  .App.crypget .main {
    min-height: 722px; } }

@media screen and (min-width: 996px) {
  .App li, .App p {
    text-align: justify; }
  .App .canvas {
    min-height: 280px;
    width: 75%; }
  .App .hamburger {
    display: none; }
  .App .main {
    grid-template-columns: 15% auto 15%;
    min-height: 722px; }
    .App .main .objective-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "objective-title . objective"; }
      .App .main .objective-container .objective {
        margin: 0; }
    .App .main .experiences-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "experiences-title . experiences"; }
      .App .main .experiences-container .experiences .experience:first-child {
        margin: 0; }
      .App .main .experiences-container .experiences .experience {
        margin: 40px 0 0; }
        .App .main .experiences-container .experiences .experience .techs-container {
          display: grid;
          grid-template-columns: 175px 25px auto;
          grid-template-rows: auto;
          grid-template-areas: "techs-title . techs"; }
          .App .main .experiences-container .experiences .experience .techs-container .techs {
            grid-template-columns: 5% 200px 200px;
            grid-template-rows: auto;
            grid-template-areas: ". techs-one techs-two"; }
    .App .main .education-container {
      grid-template-columns: 175px 75px auto;
      grid-template-rows: auto;
      grid-template-areas: "education-title . education"; }
    .App .main .misc-container {
      grid-template-columns: 175px 75px auto; }
  .App .footer {
    grid-template-columns: auto 20% auto; }
  .App.index .main {
    grid-template-columns: auto 468px 5% 40% auto;
    grid-template-rows: auto;
    grid-template-areas: ". img-container . about-container .";
    min-height: 722px; }
    .App.index .main .about-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
  .App.projects .main {
    min-height: 722px; } }
