<!DOCTYPE html>
<html>
  <% include ../common/head %>
  <body>
    <div class="App crypget" itemscope itemtype="http://schema.org/Person">
      <% include ../common/header %>
      <div class="main">
        <div class="crypget-container">
            <input type="file" id="file-upload" value="Upload data.json" />
        </div>
      </div>
      <% include ../common/footer %>
    </div>
  </body>
</html>
