<div class="main">
  <div id="experiences-container" class="experiences-container">
    <h2 class="experiences-title">Experience</h2>
    <div class="experiences">
      <div class="experience">
        <h4><span class="job-title" itemprop="jobTitle">Web Developer</span>, <span itemprop="worksFor"><a target="_blank" rel="noopener noreferrer" href="http://www.victaulic.com">Victaulic</a></span></h4>
        <h5>September 2016 - Present</h5>
        <ul>
          <li>Manage and maintain SharePoint Online Intranet, which services over 3,500 employees.</li>
          <li>Maintain three ASP.Net web applications in C#, hosted in Microsoft Azure.</li>
          <li>Translate business requirements into technical requirements and create test cases for web applications.</li>
          <li>Re-architected static file system to create centralized code base globally accessible from anywhere within the Intranet.</li>
          <li>Configured RaspberryPis to display Google Chrome in kiosk mode on boot.</li>
          <li>As lead developer, worked directly with vendor to refactor in house JavaScript libraries and optimize existing code base; SharePoint home page load time was decreased by over 150%.</li>
          <li>Introduced company to Git to create a new code change process, which moved many projects into source control.</li>
          <li>Introduced company to DoneDone issue tracker, creating new UAT and production development/testing process.</li>
          <li>Wrote administrative Sharepoint PowerShell scripts, including a script to remove site users also disabled in Active Directory and a script to activate SharePoint CDN on various sites.</li>
        </ul>
        <div class="techs-container">
          <h5 class="techs-title">Technologies Used:</h5>
          <div class="techs">
            <ul class="techs-one">
              <li class="tech">JavaScript (ES6)</li>
              <li class="tech">Gulp</li>
              <li class="tech">AngularJS 1.3</li>
              <li class="tech">Git</li>
              <li class="tech">HTML</li>
            </ul>
            <ul class="techs-two">
              <li class="tech">Node.js</li>
              <li class="tech">REST</li>
              <li class="tech">Linux/BASH</li>
              <li class="tech">PowerShell</li>
              <li class="tech">CSS</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="experience">
        <h4><span class="job-title" itemprop="jobTitle">Web Developer</span>, <span itemprop="worksFor"><a target="_blank" rel="noopener noreferrer" href="http://www.liquidint.com">Liquid Interactive</a></span></h4>
        <h5>November 2015 - September 2016</h5>
        <ul>
          <li>Redesigned and maintained close to 25 static and dynamic websites for world-renowned organizations, such as Volvo, Mack Trucking, Martin Guitar, Celestron, Penske, Victaulic, and Temple University.</li>
          <li>Created custom data models to speed up development of Umbraco views by roughly 50%.</li>
          <li>Configured UAT and production server environments.</li>
          <li>Configured load balancer for internal development servers to simulate production environment using Linux virtual machines.</li>
        </ul>
        <div class="techs-container">
          <h5 class="techs-title">Technologies Used:</h5>
          <div class="techs">
            <ul class="techs-one">
              <li class="tech">JavaScript (ES6)</li>
              <li class="tech">AngularJS 1.0</li>
              <li class="tech">Sass/Less/CSS</li>
              <li class="tech">PHP</li>
              <li class="tech">Apache</li>
              <li class="tech">Vagrant</li>
              <li class="tech">Scotch Box</li>
              <li class="tech">MySQL</li>
              <li class="tech">Wordpress</li>
            </ul>
            <ul class="techs-two">
              <li class="tech">Node.js</li>
              <li class="tech">HTML</li>
              <li class="tech">C#</li>
              <li class="tech">NGINX</li>
              <li class="tech">VVV</li>
              <li class="tech">Microsoft SQL Server</li>
              <li class="tech">HeidiSQL</li>
              <li class="tech">Umbraco</li>
              <li class="tech">Sitecore</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="experience">
        <h4>Software Developer, <a target="_blank" rel="noopener noreferrer" href="http://www.baseballinfosolutions.com">BaseballInfoSolutions</a> 
<span> / </span><a target="_blank" href="http://www.sportsinfosolutions.com">SportsInfoSolutions</a></h4>
        <h5>June 2015 - November 2015</h5>
        <ul>
          <li>Developed dynamic and static web pages using ASP.NET and JavaScript.</li>
          <li>Created underlying SQL database architecture for aggregating football data.</li>
          <li>Created intuitive GUIs used by roughly 70 video scouts to enter football team, roster, depth chart, player, and injury status data into a MSSQL database.</li>
          <li>Developed front-end component of MLB lineup optimizer, which passed arguments to server-side Ruby programs and parsed output to an interactive user interface.</li>
        </ul>
        <div class="techs-container">
          <h5 class="techs-title">Technologies Used:</h5>
          <div class="techs">
            <ul class="techs-one">
              <li class="tech">ASP.NET</li>
              <li class="tech">HTML</li>
              <li class="tech">Microsoft SQL Server</li>
            </ul>
            <ul class="techs-two">
              <li class="tech">JavaScript</li>
              <li class="tech">CSS</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="experience">
        <h4>Software Development Intern, <a target="_blank" rel="noopener noreferrer" href="http://www.trailkam.com">TrailKam.com</a></h4>
        <h5>January 2015 - June 2015</h5>
        <ul>
          <li>Worked closely with the founder of TrailKam, Bernie Graham, to get trailkam.com to a minimal viable product (MVP).</li>
          <li>Presented work at the Eastern Colleges Science Conference in Niagara, NY.</li>
        </ul>
        <div class="techs-container">
          <h5 class="techs-title">Technologies Used:</h5>
          <div class="techs">
            <ul class="techs-one">
              <li class="tech">JavaScript</li>
              <li class="tech">HTML</li>
              <li class="tech">Microsoft SQL Server</li>
            </ul>
            <ul class="techs-two">
              <li class="tech">PHP</li>
              <li class="tech">CSS</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="experience">
        <h4>Software Development Intern, <a target="_blank" rel="noopener noreferrer" href="http://www.brainrush.com">BrainRush.com</a></h4>
        <h5>May 2014 - November 2014</h5>
        <ul>
          <li>Responsibilities included, testing, software development and estimation.</li>
          <li>Created static FAQ page using PHP, JavaScript, and CSS.</li>
          <li>Estimation - what does this mean? Explain a bit.</li>
          <li>Tested and tracked project software issues using JIRA like software</li>
        </ul>
        <div class="techs-container">
          <h5 class="techs-title">Technologies Used:</h5>
          <div class="techs">
            <ul class="techs-one">
              <li class="tech">JavaScript</li>
              <li class="tech">Symfony 2</li>
              <li class="tech">CSS</li>
            </ul>
            <ul class="techs-two">
              <li class="tech">PHP</li>
              <li class="tech">HTML</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="experience">
        <h4>Support Technician, Easton Area High School</h4>
        <h5>May 2014 - September 2014</h5>
        <ul>
          <li>Computer maintenance; including administration, imaging, troubleshooting, and repairs.</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="education-container" class="education-container">
    <h2 class="education-title">Education</h2>
    <div class="education">
      <p>B.S, Computer Science - <span itemprop="alumniOf"><a target="_blank" rel="noopener noreferrer" href="http://www.wilkes.edu/academics/colleges/science-and-engineering/mathematics-computer-science/computer-science/index.aspx">Wilkes 
  University</a></span> - 2015</p>
    </div>
  </div>
  <div id="misc-container" class="misc-container">
    <h2 class="misc-title">Misc.</h2>
    <div class="misc">
      <ul>
        <li>Wrote first program on Apple //e in eighth grade</li>
        <li itemprop="award">All-American Wrestler</li>
        <li itemprop="award">2011 PIAA AAA Wrestling Team State Runner-up, Varsity Wrestler</li>
        <li itemprop="award">2011 PIAA AAAA District Champion Football Team, First Team Varsity Athlete</li>
      </ul>
    </div>
  </div>
</div>