<!DOCTYPE html>
<html class="dark">
  <% include ../common/head %>
  <body class="home blog" itemscope itemtype="http://schema.org/Person">
    <div class="App index">
      <% include ../common/header %>
      <div class="main">
        <div class="img-container">
          <img src="/img/mt-marcy-summit.jpg"/>
        </div>
        <div class="about-container">
          <p class="about">
            I'm a 25 year old currently living in Easton Pennsylvania. I'm a Web Developer for <a href="https://victaulic.com/">Victaulic</a>. I maintain their Intranet, as well as many other business related web applications. When I'm not in the office I'm either hanging out with my dog, Luna, or on some type of adventure. I have an affinity for travel, from hiking up mountains, to exploring new foreign cities.
          </p>
        </div>
      </div>
      <% include ../common/footer %>
    </div>
  </body>
</html>
