<!DOCTYPE html>
<html>
  <% include ../common/head %>
  <body class="home blog" itemscope itemtype="http://schema.org/Person">
    <div>
      <% include ../common/header %>
      <% include about %>
      <% include ../common/footer %>
    </div>
  </body>
</html>
