<div class="footer">
  <meta itemprop="sameAs" content="http://www.gowilkesu.com/roster.aspx?rp_id=4947" ></meta>
  <meta itemprop="sameAs" content="http://www.huskers.com/ViewArticle.dbml?DB_OEM_ID=100&ATCLID=205267310" ></meta>
  <meta itemprop="sameAs" href="https://www.linkedin.com/in/mason-mcintyre-a68ab1b2"></meta>
  <h5 itemprop="email" class="footer-email"><a href="mailto:mcintyre.mlm@gmail.com">mcintyre.mlm@gmail.com</a></h5>
  <h5 itemprop="telephone" class="footer-phone"><a href="tel:6104289142">610-428-9142</a></h5>
</div>
<footer>
  <script type="text/javascript" src="/javascripts/main/main.js"></script>
  <%- scripts %>
</footer>

