<div class="footer">
  <meta itemprop="sameAs" content="http://www.gowilkesu.com/roster.aspx?rp_id=4947" >
  <meta itemprop="sameAs" content="http://www.huskers.com/ViewArticle.dbml?DB_OEM_ID=100&ATCLID=205267310" >
  <div class="footer-icons">
    <h4 itemprop="email" class="footer-email"><a href="mailto:mason@masonmcintyre.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></h4>
    <h4 itemprop="telephone" class="footer-phone"><a href="tel:6104289142"><i class="fa fa-phone" aria-hidden="true"></i></a></h4>
    <h4 itemprop="sameAs"><a href="skype:o0xpopeyex0o"><i class="fa fa-skype" aria-hidden="true"></i></a></h4>
    <h4 itemprop="sameAs"><a  href="https://www.linkedin.com/in/mason-mcintyre-a68ab1b2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h4>
    <h4 itemprop="sameAs"><a href="https://github.com/mcintyremason"><i class="fa fa-github" aria-hidden="true"></i></a></h4>
  </div>
</div>
<footer>
  <script type="text/javascript" src="/javascripts/main/main.js"></script>
  <%- scripts %>
</footer>

