<div id="header-container" class="header-container">
  <div id="header" class="header">
    <h1 class="header-name"><a itemprop="name" href="/"><span itemprop="givenName">Mason</span> <span itemprop="familyName">McIntyre</span></a></h1>
    <div class="header-nav">
      <ul>
        <li><h5><a href="/resume">Resume</a></h5></li>
        <li><span>|</span></li>
        <li><h5><a href="/projects">Projects</a></h5></li>
      </ul>
      <a id="hamburger" class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    <div id="mobile-nav-container" class="mobile-nav-container">
      <ul>
        <li>
            <h2><a id="resume-header" href="/resume">Resume</a></h2>
        </li>
        <li>
            <h2><span>|</span></h2>
        </li>
        <li>
            <h2><a id="projects-header" href="/projects">Projects</a></h2>
        </li>
      </ul>
    </div>
  </div>
</div>