<div id="header" class="header">
  <div class="inner-width">
    <!--
    <div class="logo-header pull-left">
      <a href="#"><img class="logo" alt="Logo Here" src="" /></a>
    </div>
    -->
    <div id="name" class="name">
        <h1 class="text-left col-xs-12">
          <a href="/">
            <span itemprop="name"><span itemprop="givenName">Mason</span> <span itemprop="familyName">McIntyre</span></span>
          </a>
        </h1>
    </div>
    <div class="primary-header pull-right">
      <ul>
        <li>
          <a id="about-header" href="/">About</a>
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
          <a id="projects-header" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
    <a id="hamburger" href="javascript:void(0);" class="hamburger"><i class="fa fa-bars"></i></a>
  </div>
  <div id="mobileNavContainer" class="mobileNavContainer">
      <ul>
        <li>
          <a id="about-header" href="/">About</a>
        </li>
        <li>
          <a id="projects-header" href="/projects">Projects</a>
        </li>
      </ul>
  </div>
</div>