<div class="header">
  <h1 class="header-name"><a itemprop="name" href="/"><span itemprop="givenName">Mason</span> <span itemprop="familyName">McIntyre</span></a></h1>
  <div class="header-nav">
    <ul>
      <li><h5><a href="/">About</a></h5></li>
      <li><span>|</span></li>
      <li><h5><a href="/projects">Projects</a></h5></li>
    </ul>
    <a id="hamburger" class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></a>
  </div>
  <div id="mobile-nav-container" class="mobile-nav-container">
    <ul>
      <li>
        <a id="about-header" href="/">About</a>
      </li>
      <li>
        <a id="projects-header" href="/projects">Projects</a>
      </li>
    </ul>
  </div>
</div>