<head>
  <meta name="google-site-verification" content="yvJk6V5mexkpQDw1vr4H0bE0uIMXrgpJSC9kPx0MDtw" />    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="Mason McIntyre is a software developer with over 10 years of programming experience. Specializing in web technologies both backend and frontend, due to his more recent experience. However, his knowledge is not limited to these technologies, as he started programming standalone desktop applications (C, C++, C#, Java, Python) and had done so for several years before switching to web application development.">
  <link type="text/css" rel="stylesheet" href="/stylesheets/App.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <%- styles %>
</head>

