<div class="header">
  <h1 class="header-name"><a href="/">Mason McIntyre</a></h1>
  <div class="header-nav">
    <ul>
      <li><h5><a href="/about">About</a></h5></li>
      <li><span>|</span></li>
      <li><h5><a href="/projects">Projects</a></h5></li>
    </ul>
    <a class="hamburger"><i class="hamburger"></i></a>
  </div>
</div>