<!-- header Start -->
<div id="header" class="header">
  <div class="inner-width">
    <!--
    <div class="logo-header pull-left">
      <a href="#"><img class="logo" alt="Logo Here" src="" /></a>
    </div>
    <a href="javascript:void(0);" class="hamburger"><i class="fa fa-bars"></i></a>
    -->
    <div id="name" class="name">
      <a href="/">
        <h1 class="text-left col-xs-12">
          <span itemprop="name"><span itemprop="givenName">Mason</span> <span itemprop="familyName">McIntyre</span></span>
        </h1>
      </a>
    </div>
    <div class="primary-header pull-right">
      <div class="phone-header-wrapper pull-right">
      </div>
      <ul>
        <li>
          <a id="about-header" href="/">About</a>
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
          <a id="projects-header" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</div>
