<!DOCTYPE html>
<html>
  <% include ../common/head %>
  <body>
    <div class="App projects" itemscope itemtype="http://schema.org/Person">
      <% include ../common/header %>
      <div class="main">
        <div class="projects-container">
          <h4><a href="https://github.com/mcintyremason">GitHub</a></h4>
          <h4 class="project"><a href="/projects/senior-project">Senior Project</a></h4>
          <h4 class="project"><a href="/projects/draw">Draw</a></h4>
        </div>
      </div>
      <% include ../common/footer %>
    </div>
  </body>
</html>
