<!DOCTYPE html>
<html>
  <% include ../common/head %>
  <body class="home blog" itemscope itemtype="http://schema.org/Person">
    <% include ../common/navbar %>
    <% include ../common/footer %>
  </body>
</html>
