<!doctype html>

<html>
  <% include ../common/head %>
  <body>
    <div class="App">
      <div class="App">
        <% include ../common/header %>
        <div class="canvas-container">
          <canvas id='canvas' class="canvas"></canvas>
        </div>
        <% include ../common/footer %>
      </div>
    </div>
  </body>
</html>
