<!doctype html>

<html>
  <% include ../common/head %>
  <body>
    <div class="App">
      <div class="App">
        <% include ../common/header %>
        <div>
          <canvas id='canvas'></canvas>
        </div>
        <div>
          <button id='replay'>Replay</button>
        </div>
        <div>
          <button id='button1' onClick='guess(1)'>
          </button>
          <button id='button2' onClick='guess(2)'>
          </button>
          <button id='button3' onClick='guess(3)'>
          </button>
          <button id='button4' onClick='guess(4)'>
          </button>
        </div>
        <% include ../common/footer %>
      </div>
    </div>
  </body>
</html>
