<!doctype html>

<html class="dark">
  <% include ../common/head %>
  <body class="black">
    <div class="App">
      <% include ../common/header %>
      <div class="seniorProject">
        <div class="titleContainer">
          <h2 class="title">Refresh your browser once!</h1>
        </div>
        <div class="canvasContainer">
          <canvas id='canvas' class="canvas"></canvas>
        </div>
      </div>
      <% include ../common/footer %>
    </div>
  </body>
</html>
